extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg" alt="Imagen nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga expedita maiores alias delectus 
                inventore provident distinctio, quaerat dolor ratione deleniti nulla architecto at debitis beatae eaque 
                tempore earum excepturi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eos optio nobis, blanditiis cumque 
                nostrum eaque, quod ipsam dicta quo quos officia. Neque debitis accusantium minus rerum ad incidunt vitae?
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas officiis animi saepe ut id fuga mollitia sapiente. Beatae reiciendis eum, iure illo blanditiis maxime officia ex accusamus dicta minima tenetur.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas officiis animi saepe ut id fuga mollitia sapiente. Beatae reiciendis eum, iure illo blanditiis maxime officia ex accusamus dicta minima tenetur.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas officiis animi saepe ut id fuga mollitia sapiente. Beatae reiciendis eum, iure illo blanditiis maxime officia ex accusamus dicta minima tenetur.
    